<!DOCTYPE html>
<html>
  <head>
    <title> Home Sweet Paws </title>
    <%= csrf_meta_tags %>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 id="mainName"> Home Sweet Paws </h1>
        <nav id="navbar-main">
        	<div id="navdiv">
        	  <ul class="navList">
        	  	<%= link_to "Home", home_path, class: 'navlinks' %>
                 <br> <br>
        	  	<%= link_to "Our Story", our_story_path, class: 'navlinks' %>
                 <br> <br>
        	  	<%= link_to "Client Testimonies", testimonies_path, class: 'navlinks' %>
                 <br> <br>
        	  	<%= link_to "Press", press_path, class: 'navlinks' %>
                <br> <br>
        	  	<%= link_to "Gallery", gallery_path, class: 'navlinks' %>
                <br>
        	  </ul>
        	</div>
        </nav>
        <br>
    <%= yield %>
  </body>
</html>
